<a href="https://colab.research.google.com/github/naaam-h-siddhu/python-basics/blob/master/py_the_beginning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

**THE JOURNEY OF PYTHON BEGIN FROM HERE**

# LEARNING

> TYPES OF VARIABLE , 
> TAKING INPUT ,
> TYPECASTING ,
> ARITHMETIC OPERATOR ,
> STRING ,
> IF-ELSE ,
> LOOPS ,
> FUNCTIONS ,

In [ ]:
print("hello siddhu ");

**TYPES OF VARIABLE IN PY**





in py there is no need to declare variable type
basically there are 4 types
1. integer
2. float
3. String
4. Bool(True,False)

In python number can be store in 3 types that is int,float,complex

int -88


float-88.88

complex-88ljkjfh

In [ ]:
name="siddhu"
age="18"
is_good=False
print("my name is", name, "my age is ", age, " am i good in coding",is_good)
#many variable in one line
x, y, z=12,13,14
print(x+y+z)
#unpacking a collection
fruits = ["aam", "kela", "narangi"]
a,b,c = fruits
print(a)
print(b)
print(c)

**TAKING INPUT AND STORING IN VARIABLE**

In [ ]:
name= input("bhai naam bata de yarr ")
print("thike bhai mai ab tereko ",name," bolunga!")
age= input("apna age bata de bhai ")
age=int(age)
#BY DEFAULT IF WE TAKE INPUT IN PYTHON ITS STORE INPUT AS STRING
#TO CHNAGE OR ADD VALUE TO IT
new_age=age+5;
print("chal jhutha tera real age",new_age," hai")

**TYPECASTING IN PYTHON**

In [ ]:
a=int(12.32)
b=int("121")

print(a," ",b)

**ARITHMETIC OPERATORS IN PYTHON**

In [ ]:
a=5
b=2
aa= input("enter the number")
bb= input("enter the number")
print(int(aa)+int(bb))#we need to cast here bc it take string as input by default


print(a+b," ",a-b," ",a*b," ")
print(a%b)
print(a**b)#to find the power of any number (pow(5,2) in c++)
a+=10#i.e a=a+10
print(a)
result= 2+3*5
print(result)

In [ ]:
print(5/2)
#by default in python the / return float value but if we want only int value then we use //
print(5//2)

**PLAYING WITH STRING IN PYTHON**

In [ ]:
name="Siddhu Singh"
#types of method
print(name.upper())#change all char to upper case
print(name.lower())#change all char to lower case 
print(name.find('S'))#Locations are same as array in c++ i.e 0,1,2,3......
print(name.find('z'))#if not found then it return -1
print(name.replace("Siddhu", "Sudhakar"))#we can replace in char also
print('S' in name)#to find the char or substring in python using "in"

**STRING FORMATING**

Python uses C-style string formating<br>
%s - String (or any object with a string representation, like numbers)

%d - Integers

%f - Floating point numbers

%.(number of digits)f - Floating point numbers with a fixed amount of digits to the right of the dot.

%x/%X - Integers in hex representation (lowercase/uppercase)

In [ ]:
name= "John"
print("hello, %s!" %name)

In [ ]:
#TO use two or more element, use touple
name="John"
age= 23
print("%s is %d years old."%(name,age))

.**IF-ELSEIF-ELSE**

In [ ]:
age=input("bhai apna age daal ")
age=int(age)
if age>=18:
  print("you can vote")
elif age<18 and age>3:
  print("you cannot vote but  u can easily walk")
else:
  print("you are kid")

**LOOPS & LIST**

In [ ]:
i=1
while i<=5:
  print(i*'*')
  i+=1
print("---------------")
j=5
while i>=1:
  print(i*'*')
  i-=1


#FOR LOOP
for i in range(#WHILE LOOPS 
10):
  print(i+1)
print("----------------")
#LIST
marks=[95, 98, 97]
print(marks[0])
print(marks[0:1])
print()
for j in marks:
  print(j)
#operation in list
marks.append(99) #add the value to last 
marks.insert(1,90) #add the value to the specific address
print(marks)
print(90 in marks)#for chacking if the value is present or not 
print("the length of list is ",len(marks))#gives the size of th list
print()
it=0
while it<len(marks):
  print(marks[it])
  it+=1
marks.clear()#use to clear all the element of the list

print("--------------------")
#BREAK AND CONTINUE

students=["ram","shyam","kishan","radha","radhika"]
for stud in students:
  if stud=="kishan":
    break;
  print(stud)
for he in range(10):
  if he==4:
    continue;
  print(he)

**TUPLES() , SET{}  and DICTIONARY(KEY:VALUE)**

In [ ]:
marks=(95, 98, 97, 97, 97)
#tuple doesn't allow many operation it only allow 2 ops
print(marks.count(97))
print(marks.index(97))

print("----------------------")

#set are used to store only unique values
nums={97,95,23,23,23}
print(nums)


print("----------------------")


#dictionary store a key along with the value (just like map in c++)
info= {"english" : 98,"chemistry" : 99,"math" : 86}
print("marks of chemistry is ", info["chemistry"])
info["physics"]=96
print(info)

**FUNCTIONS**

In [ ]:
#PYHTON MODULE
import math
#to import a specific function only
from math import sqrt #to import all the function we use "*"
#print(dir(math))#to get the list of functions present in the module
print(sqrt(4))


print("--------------")
#USER DEFINED FUNCTIONS
#def function_name(parameters):
#   //do something
def return_sum(a,b=100):
  print(a+b)
return_sum(10)

# EXAMPLES/PROJECTS
> CALCULATOR ,

***CALCULATOR***

In [ ]:
a=int(input("enter first number "))
b=int(input("enter second number "))
op=input("enter the operator ")
if op=='+':
  print("the sum is ",a+b)
elif op=='-':
  print("the difference is ",abs(a-b))
elif op=='*':
  print("the product is ",a*b)
elif op=='/':
  print("the quotient is ", a/2)
elif op=='%':
  print("the remainder is ",a/b)
else:
  print("bhai acccha operator daal na qa daal rha h tu ")